.eye-solid.icon {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%,-55%) rotate(45deg);
  margin-left: 3px;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px currentColor;
  cursor: pointer;
}

.eye-solid.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
  cursor: pointer;
}

