.posts {
  padding: 10px 20px;
}

.post {
  margin: 0 0 10px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

.post:hover {
  opacity: .85;
}

.post-title, .post-text {
  text-transform: capitalize;
}

.post-title {
  font-size: 15px;
  color: darkslategray;
}

.post-text {
  font-size: 14px;
}